<main class="col-sm-8">
  <%= flash[:success] %>
  <h1 class="article-title"><%= link_to @article.title, article_path(@article) %></h1>
  <p class="article-meta"><%= @article.created_at.strftime("%B %e, %Y") %></p>
  <article><%= @article.content %></article>
</main>