<aside class="sidebar col-sm-3 col-sm-offset-1">
  <section id="sidebar-photo" class="sidebar-module">
    <%= image_tag "ror.png" %>
  </section>
  <section id="sidevar-description" class="sidebar-module">
    <%= render 'shared/sidebar_description' %>
  </section>
  <section id="sidebar-links" class="sidebar-module">
    <%= render 'shared/sidebar_links' %>
  </section>
</aside>
